obj
/bin/Debug/DocuSignAPI.dll.config
/bin/Debug/DocuSignAPI.pdb
/bin/Debug/Microsoft.Threading.Tasks.Extensions.Desktop.dll
/bin/Debug/Microsoft.Threading.Tasks.Extensions.Desktop.xml
/bin/Debug/Microsoft.Threading.Tasks.Extensions.dll
/bin/Debug/Microsoft.Threading.Tasks.Extensions.xml
/bin/Debug/Microsoft.Threading.Tasks.dll
/bin/Debug/Microsoft.Threading.Tasks.xml
/bin/Debug/Newtonsoft.Json.dll
/bin/Debug/RestSharp.dll
/bin/Debug/RestSharp.xml
/bin/Debug/System.IO.dll
/bin/Debug/System.IO.xml
/bin/Debug/System.Net.Http.dll
/bin/Debug/System.Net.Http.xml
/bin/Debug/System.Runtime.dll
/bin/Debug/System.Runtime.xml
/bin/Debug/System.Threading.Tasks.dll
/bin/Debug/System.Threading.Tasks.xml
/bin/Release/DocuSignAPI.dll.config
/bin/Release/DocuSignAPI.pdb
/bin/Release/Microsoft.Threading.Tasks.Extensions.Desktop.dll
/bin/Release/Microsoft.Threading.Tasks.Extensions.Desktop.xml
/bin/Release/Microsoft.Threading.Tasks.Extensions.dll
/bin/Release/Microsoft.Threading.Tasks.Extensions.xml
/bin/Release/Microsoft.Threading.Tasks.dll
/bin/Release/Microsoft.Threading.Tasks.xml
/bin/Release/Newtonsoft.Json.dll
/bin/Release/RestSharp.dll
/bin/Release/RestSharp.xml
/bin/Release/System.IO.dll
/bin/Release/System.IO.xml
/bin/Release/System.Net.Http.dll
/bin/Release/System.Net.Http.xml
/bin/Release/System.Runtime.dll
/bin/Release/System.Runtime.xml
/bin/Release/System.Threading.Tasks.dll
/bin/Release/System.Threading.Tasks.xml
/.vs/DocuSignAPI/v14/.suo
/DocuSignAPI.csproj.user
